{{template "meta.tmpl"}}
<div>
    <p>Forgot password</p>
</div>
<div>
    {{ if .sent }}
    <p>Sent email to {{ .email }}</p>
    {{ else if .code_tab }}
    <form method="post">
        {{template "password_field.tmpl"}}
        <input type="submit">

    </form>

    {{ .code_error}}
    {{.error}}

    {{ else }}
    <form method="post" autocomplete="on">
        <label>Email:</label><br />
        <input type="text" name="email"><br />
        <input type="submit">

    </form>
    {{ end }}
    {{.error}}
</div>