{{template "meta.tmpl"}}
<div>
    <p>Login</p>
</div>
<div>
    <form method="post" autocomplete="on">
        {{template "user_identifier.tmpl"}}
        {{template "password_field.tmpl" }}
        <input type="submit">

    </form>
    {{.error}}
</div>
<div>
    <a href="/signup">Signup</a>
</div>
<div>
    <!-- <a href="/forgot_password">Forgot password?</a> -->
</div>